:root {
    --light: #fff;
    --text-color: orchid;
    --radius: 8px;
    --dark: #3d3d3d;
}

::selection {
    background-color: #2aefcb;
    color: var(--dark);
}

body {
    background-color: var(--dark);
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header h1.page-title {
    padding: 10px 12px;
    font-size: 45px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--text-color);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    margin-bottom:10px;
}

code {
    font-family: monospace, sans-serif;
    text-align: left;
}

main {
    width: 96%;
    margin: 20px auto;
}

.card-column {
    flex: 0 0 33.3%;
    /*padding: 20px;*/
    /* when the screen resizes, our columns won't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 100px;
}

.code-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 20px;
    outline: dashed 2px #fff;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

/* .code-card,*/ .card-header {
    position: relative;
    margin-top: -50px;
    padding: 0.5rem 1rem;
    background-color: var(--dark);
    color: var(--text-color);
    text-align: left;
    border: solid 2px var(--light);
    border-radius: var(--radius);
    transition: all 0.5s ease-in-out;
}

.code-card .code-block {
    flex-grow: 1;
}

.code-card pre {
    /* sets styles to make the code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 20px 10px;
    color: var(--light);
    border-radius: var(--radius);
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    align-items: center;
}

.code-card pre:active {
    user-select: all;
    /* on <pre> click, selects all content and highlights code */
}

.code-card p {
    color: var(--text-color);
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.justify-center {
    justify-content: center;
}

/*.linear-gradient-background {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%, 
        rgba(232, 102, 236, 0.6) 100%
    );
    padding: 20px;
    border-radius: var(--radius)
}

.linear-gradient-background h3 {
    color: var(--light);
    font-size: 16px;
    text-align: left;
    line-height: 50%;
    font-weight: 400;
}

.linear-gradient-background p {
    color: var(--light);
    text-align: left;
    font-size: 16px;
    line-height: 50%;
    padding-left: 20px;
} */

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}

/* .card-header {
    position: relative;
    margin-top: -20;
    margin-bottom: 0;
    color: var(--text-color);
    font-size: 36px;
    text-align: left;
    border: solid 1px #fff;
    background-color: #3d3d3d;
    padding: 10px;
    border-radius: var(--radius);
} */

.card-header h2 { 
    color: var(--text-color);
    font-size: 28px;
}

@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}